.map {
    width: 100%;


    iframe {
        height: 100%;
        width: 100%;
        border: none;
    }

    &--main {
        border-top: 5px solid $color-middle-grey;
        border-bottom: 5px solid $color-middle-grey;
        height: 560px;
    }
}